.mainheading {
  font-size: calc(1rem+1.6vw);
  font-weight: bolder;
}

.subheading {
  font-size: calc(0.8rem+1.2vw);
  font-weight: bolder;
}

.content {
  font-size: calc(0.6rem+1vw);
}

.stylish-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background-color: #4893FF; /* Background color */
  color: white; /* Text color */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stylish-button:hover {
  background-color: blue; /* Hover background color */
}

.exit-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background-color: tomato; /* Background color */
  color: white; /* Text color */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.exit-button:hover{
  background-color: red;
}

.level-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background-color: white; /* Background color */
  color: black; /* Text color */
  text-align: center;
  text-decoration: none;
  cursor: none;
}
