.canvas-background{
    background-image: url("/src/img/backg.jpg");
    background-size: cover;
}

.custom-toast-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @keyframes moveEnlargeFade {
    0% {
      opacity: 1;
      transform: translateZ(0) scale(1);
    }
    50% {
      opacity: 0.7;
      transform: translateZ(50px) scale(1.5);
    }
    100% {
      opacity: 0;
      transform: translateZ(100px) scale(2);
    }
  }
  
  #animatedText {
    font-size: 36px;
    position: absolute;
    left: 45%;
    top: 10%;
    transform: translate(-50%, -50%);
    animation: moveEnlargeFade 3s forwards;
    color: #aa6c39;
    font-weight: bolder;
  }
  