.word-reel-container {
  width: 200px; /* Set the width of the rectangular box as needed */
  height: 200px; /* Set the height of the rectangular box as needed */
  overflow: hidden;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .rectangularbox{
    height: 30px;
    width: auto;
    background-color: #007bff;
    position: relative;
    color: black;
} */

.word-reel {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  animation: slide 10s linear infinite; /* Adjust the animation duration as needed */
}

.word {
  padding: 10px;
  font-size: 16px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
}

.word.active {
  background-color: #007bff; /* Change the background color of the active word */
  color: white; /* Change the text color of the active word */
}

@keyframes slide {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.canvas-background {
  background-image: url("/src/Img/backg.jpg");
  background-size: cover;
}

.canvas-container {
  position: relative;
  z-index: 1;
}
